<section class="lightSection clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="owl-carousel partnersLogoSlider">
          <% Dir.glob("img/home/partners/*.png", base: "app/assets/images") do |file| %>
            <div class="slide">
              <div class="partnersLogo clearfix">
                <%= image_tag(file, :alt => "partner-img") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
