<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <div class="panel panel-default">
    <div class="panel-heading">商品カテゴリー</div>
    <div class="panel-body">
      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
        <ul class="nav navbar-nav side-nav">
          <%= render partial:'potepan/categories/search/taxonomies', collection: taxonomies, as: "taxonomy" %>
        </ul>
      </div>
    </div>
  </div>
  <%= render 'potepan/categories/search/color_search' %>
  <%= render 'potepan/categories/search/size_search' %>
</div>
