<% provide(:title, @taxon.name) %>
<%= render partial:'potepan/shared/light_header', title: @taxon.name %>
<%# MAIN CONTENT SECTION %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'side_bar', taxonomies: @taxonomies %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filters' %>
        <div class="row">
          <%= render partial:'product_box', collection: @products, as: "product" %>
        </div>
      </div
    </div>
  </div>
</section>
<%= render 'potepan/shared/light_footer' %>
